<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="main/css/main.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/all.css">
    <script type="text/javascript" src="assets/js/all.js"></script>
    <script type="text/javascript" src="main/js/main.js"></script>-->
</head>
<body>
    <div id="title" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Интерфейс управления доменами</h1>
            </div>
        </div>
    </div>
    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Domain name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $i = 1 ?>
                        <?php foreach ($domains as $domain => $status) {?>
                            <tr>
                                <th scope="row"><?=$i?></th>
                                <td>
                                    <?=$domain?>
                                </td>
                                <td style="text-align: center;">
                                    <?php if ($status == TRUE) { ?>
                                        <span class="label label-success label-action">Активирован</span>
                                    <?php } else { ?>
                                        <span class="label label-danger label-action">Деактивирован</span>
                                    <?php } ?>
                                </td>
                                <td style="text-align: center;">
                                    <form action="" method="post">
                                        <input type="hidden" name="action" value="domainEdit">
                                        <input type="hidden" name="id" value="<?=$domain?>">
                                        <input type="hidden" name="value" value="<?=(int)$status?>">
                                        <input type="submit" value="Вкл\Выкл">
                                    </form>
                                    <!--<button type="button" class="btn btn-default btn-xs btn-action" data-id="<?/*=$domain*/?>" data-value="<?/*=(int)$status*/?>">
                                        Вкл\Выкл
                                    </button>-->
                                </td>
                            </tr>
                            <?php $i++ ?>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <?php if (isset($_GET['msg'])) { ?>
        <div id="title" class="container-fluid" style="background-color: red; margin-top: 30px; padding: 20px">
            <div class="row">
                <div class="col-md-12">
                    <?=$_GET['msg']?>
                </div>
            </div>
        </div>
    <?php } ?>
</body>
</html>